/*
HEADER===============
*/
.headerWrapper {
    text-align: center;
}
/*
MAIN_CONTENT===============
*/
.mainContentWrapper {
    text-align: center;
}

.countryListWrapper {
    display:inline;
}

.countryWrapper {
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
}
/*
FOOTER===============
*/
.footerWrapper {
    text-align: center;
    clear:left;
}