/*
HEADER===============
*/
.headerWrapper {
    text-align: center;
}
/*
MAIN_CONTENT===============
*/
.mainContentWrapper {

}

.searchTools {
    text-align: center;
}

.searchBarWrapper {
    margin: 15px;
}

.filterButton{
    border: 1px solid rgb(75, 75, 75);
    border-radius: 20px;
    background-color: aliceblue;
}

.countryListWrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.countryWrapper {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    text-align: center;
}

.countryWrapper:hover {
    border: 2px solid rgb(31, 31, 31);
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    text-align: center;
}
/*
FOOTER===============
*/
.footerWrapper {
    clear:left;
    text-align: center;
    margin: 20px
}