/*
HEADER===============
*/
.headerWrapper {
    text-align: center;
}
/*
MAIN_CONTENT===============
*/
.mainContentWrapper {

}

.searchTools {
    text-align: center;
}
.countryListWrapper {
    display:inline;
}

.countryWrapper {
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    margin: 20px;
    text-align: center;
}
/*
FOOTER===============
*/
.footerWrapper {
    text-align: center;
    clear:left;
}